.profile {
  width: 420px;
  height: auto;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.name {
  font-size: 28px;
  font-weight: 500;
  color: #1e1c1c;
  margin-top: 50px;
}

.stats {
  border-top: 1px solid #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  width: inherit;
  color: #464141;
  background-color: black;
}
.stats > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
  padding: 30px 10px;
  gap: 10px;
  background-color: #f3f8fc;
}
.quantity {
  font-size: 25px;
  font-weight: 500;
}
