.friends_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  padding: 0;
}
.friends_item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 15px;
  width: 300px;
  height: 100px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.friends_status {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 1000px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
